header {
    background: white;
    width: 100%;
    z-index: 1000;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: orange;
}
.navbar-inverse .navbar-toggle {
    border-color: orange;
}
nav.navbar.navbar-inverse {
    background: transparent;
    border: 0px;
}
h1 {
    color: #b3b3b3;
    font-size: 38px;
}
.fondo1{
    background: url("../images/section1.png") no-repeat 0px 0px;
    min-height: 300px;
}
#page0{
    min-height: 524px;
}
#page1 p {
    color: #ffffff;
    font-size: 30px;
    padding-top: 130px;
    padding-left: 20px;
}
#page0 h1 span{
    color:#e9993c;
}

#page2 h2,#page3 h2,#page4 h2,#page5 h2 {
    font-size:40px;
    color:#e9993c;
}
#page2 p,#page3 p,#page4 p,#page5 p {
    color: #b4b4b4;
    font-size: 20px;
    padding-left: 10px;
}
#page3 p span{
    font-weight: bold;
}
#page5{
    background: #f5f5f5;
}
footer{
    min-height: 250px;
    background: #e9993c;
}
section#footer2{
    background: #b3b3b3;
    min-height: 50px;
    padding-bottom: 0px;
}
section#footer2 p{
   color:#ffffff;
   font-size:14px;
   padding-top:10px;
}
.block-img {
    padding-top: 12px;
}
.listas{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 25px;
}
.subnav1 li, .subnav2 li{
    list-style: none;
}
.subnav1 li a{
    font-size:23px;
    color:#fff;
}
.subnav2 a.subnav {
    color: #fff;
    font-size: 23px;
}

a.btn.btn-ingresar {
    background: #e9993c;
    padding: 5px 18px;
    margin-top: 9px;
    color: #fff !important;
    border-radius: 10px;
}

.navbar-inverse .navbar-nav>li>a {
    color: #e9993c;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
     color: #e9993c;
    border-bottom: 2px solid #e9993c;
    background: transparent;
}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    color: #e9993c;
    border-bottom: 2px solid #e9993c;
}
ul.nav.navbar-nav.pull-right {
    margin-top: 17px;
}
a.btn.btn-ingresar:hover {
    background: #d57403 !important;
    display: block;
}
a.android {
    display: inline-block;
}
a.iphone {
    display: inline-block;
}
a.android2 {
    display: inline-block;
}
a.iphone2 {
    display: inline-block;
}


/* -------------
* Selects
* ------------- */
.jqTransformSelectWrapper {
  display: block;
  width: 45px;
  position: relative;
  height: 31px;
  background: url(img/select_left.gif) no-repeat top left;
  text-align: left;
}

.jqTransformSelectWrapper li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.jqTransformSelectWrapper div span {
  font-size: 12px;
  float: none;
  position: absolute;
  white-space: nowrap;
  height: 31px;
  line-height: 15px;
  padding: 8px 0 0 7px;
  overflow: hidden;
  cursor: pointer;
  width: 93%;
  display: block;
  /*border: 1px solid #CCCCCC;*/
  /*	border-right: none;*/
}

.jqTransformSelectWrapper  a.jqTransformSelectOpen {
  display: block;
  position: absolute;
  right: 0;
  width: 31px;
  height: 31px;
  background: url(img/select_right.jpg) no-repeat center center;
}

.jqTransformSelectWrapper ul {
  position: absolute;
  width: 43px;
  left: 0;
  list-style: none;
  background-color: #FFF;
  border: solid 1px #CCC;
  display: none;
  margin: 0;
  padding: 0;
  height: 150px;
  overflow: auto;
  overflow-y: auto;
  z-index: 10;
}

.jqTransformSelectWrapper ul a {
  display: block;
  padding: 5px;
  text-decoration: none;
  color: #333;
  background-color: #FFF;
  font-size: 12px;
}

.jqTransformSelectWrapper ul a.selected {
  background: #EDEDED;
  color: #333;
}

.jqTransformSelectWrapper ul a:hover, .jqTransformSelectWrapper ul a.selected:hover {
  background: #3582c4;
  color: #fff;
}

/* -------------
 * Hidden - used to hide the original form elements
 * ------------- */
.jqTransformHidden {
  display: none;
}

.btn-info {
    color: #000 !important;
    background-color: #fff !important;
    border-color: #fff !important;
}

.btn-info.active, .btn-info:active, .open>.dropdown-toggle.btn-info {
    color: #000 !important;
    background-color: #fff !important;
    border-color: #fff !important;
}
ul.nav.navbar-nav.pull-right.iflag li:last-child {
    margin-top: 13px;
}
section#page1 {
    padding-top: 30px;
}
section {
    padding-bottom: 40px;
}

a.subnavd {
    background: white;
    color: orange !important;
    padding: 5px 7px;
    font-size: 20px;
    border-radius: 16px;
}
@media(max-width:768px){
    .fondo1 {
    background: url(../images/section1.png) no-repeat 0px 0px;
    min-height: 300px;
    background-size: cover;
}
.navbar-brand img {
    width: 94px;
}
ul.nav.navbar-nav.pull-right {
    width: 100%;
    display: block;
    text-align: center;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #e9993c;
    border-bottom: 0px;
    background: transparent;
}

}